exportPattern("^[[:alpha:]]+")
export(findGSEX)
importFrom("grDevices", "dev.off", "grey", "pdf", "png", "rainbow")
  importFrom("graphics", "abline", "axis", "barplot", "legend", "lines",
             "par", "polygon", "text", "title")
  importFrom("stats", "approx", "dnorm", "na.omit", "optim", "sd")
  importFrom("utils", "read.table", "write.csv", "write.table")
importFrom(dplyr)
importFrom(fGarch)
importFrom(ggplot2)
importFrom(png)
importFrom(scales)
importFrom(RColorBrewer, brewer.pal)
importFrom(pracma, findpeaks)
export(error_minimize)
export(error_minimize2)
export(error_minimize3)
export(initial_count_recover)
export(kmer_count_modify)
export(findGSE_sp)
export(error_minimize_raw)
export(error_minimize2_raw)
export(error_minimize3_raw)
export(initial_count_recover_raw)
export(kmer_count_modify_raw)
export(findGSE_raw)
export(filter_peaks_raw)
export(filter_peaks)
export(get_het_pos)
export(initialize_start_time)
